.my__visualLinkButton {
    background: none;
    color: blue;
    border: none;
    padding: 0;
    cursor: pointer;
}

.my__visualLinkButton:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.homeTitle, .openModal {
    grid-column: span 2;
}

