* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    

    min-height: 100dvh;
    
    background-color: papayawhip;
    color: black;

    font-family: sans-serif;
    line-height: 1.6;
}

.header, .primarv-nav, .footer {
    background-color: burlywood;
}

.header {
    grid-area:header;
    display:flex;
    justify-items:center;
    align-items:center;
    padding: 2rem;
}

.Logo {
    position: fixed;
    top:1rem;
    right: 1rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    
    padding: 0px;

    list-style-type: none;

}

.menu__item:hover .submenu,
.menu__item:focus-within .submenu {
    max-height: initial;
}

.menu__toggle {
    border: none;
    padding: 0;

    background-color: inherit;
    color: blue;

    font: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.submenu {
    position: absolute;

    max-height: 0;
    padding: 0;
    overflow: hidden;

    background-color: burlywood;

    list-style-type: none;
}

.submenu__link {
    padding: 0 0.5rem;
}
.submenu__link:hover {
    display: inline-block;

    width: 100%;

    background-color: plum;
}

input {
    font: inherit;
}

.register {
    display: grid;
    
    grid-template-columns: repeat(12,1fr);
    /*grid-template-columns: auto 1fr;*/
    gap: 1rem;

    padding: 1rem;
    /*max-width: 20rem;*/
    border: 1px solid black;
    border-radius: 1rem;
}
.register__label {
    justify-self: right;
}

.register__label3 {
    grid-column: span 2; /* tuning checkbox text */
}

.register__input {
    margin-bottom: 1rem;
}

.register__select {
    grid-column: span 2;
}

.register__submit {
    grid-column: span 2;
    margin:0 auto;
}

.register__submit:hover {
    background-color: green;
    color:white;
}

.footer__list {
    padding: 0.5rem;
    text-align: center;
    list-style-type: none;
}

.footer a:hover {
    text-decoration: underline; /* Add underline as call to action */
}

@media(max-width: 40rem) {
    body {
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
        grid-template-columns: auto;
    }

    .register {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 40rem) {
    .register {
      max-width: 100%; /* Full width for mobile version */
    }
  }
  
@media (min-width: 40rem) {
    .register {  /* Full width for desktop version */
      display: grid; 
      grid-template-columns: repeat(12, 1fr);
      gap: 10px;

    }
    .register__label {
        grid-column: span 6;
        justify-self: right;
    }

    
    .register__label3 {
        grid-column: span 12; /* tuning checkbox text */
    }
    
    .register__input {
        grid-column: span 6;
        margin-bottom: 1rem;
    }
    
    .register__select {
        grid-column: span 12;
    }
    
    .register__submit {
        grid-column: span 12;
        margin:0 auto;
    }
  }

@media (max-width: 360px) {
    .register{
        font-size: 0.75rem; /* less 360px (with smail text-size) */
    }
}

@media (min-width: 361px) and (max-width: 1000px) {
    .register {
      font-size: 1rem;  /* from 360px to 1000px (with normal text-size) */
    }
  }
